<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Rewrite HTML Example</display-name>

  <!-- NOTE: this filter and it's associated mapping should *NOT* be mapped to 
             a constant as this is used for an actual application.
             
             The RemoteUserExpressionFilter supplies a remote user name in the filter chain 
             so that using the ProxyServlet with remote-user-header facility is easier,
             and can evaluate session variables and other data if required.  It's useful
             for testing, and can also be used to tie session data that is private to the 
             application to the remote session value used by ProxyServlet (among other uses).
             
             Example: 
             
                 session.?USERNAME
             
             would lookup "USERNAME" within the http session and return null if USERNAME
             doesn't exist.
             
             Two context values are provided, "request" and "session" (if created previously,
             null otherwise), and the expression is evaluated via MVEL 
             (see here: http://mvel.codehaus.org) 
             
   -->
  <filter>
     <filter-name>RemoteUserExpressionFilter</filter-name>
     <filter-class>com.westerfeld.rewritehtml.RemoteUserExpressionFilter</filter-class>
     <init-param>
         <param-name>remote-user-expression</param-name>
         <param-value>&quot;bruno&quot;</param-value>
     </init-param>
  </filter>

  <!-- NOTE: the HtmlTranslationFilter provides html and other arbitrary content rewriting.
             This is helpful in updating href=, src= and other hardcoded host references
             when creating a reverse proxy.
             
             The main configuration setting is filter-xml, which refers to a resource
             URI either in the webapp itself, classpath, or URL.
   -->
  <filter>
     <filter-name>HtmlTranslationFilter-liferay</filter-name>
     <filter-class>com.westerfeld.rewritehtml.HtmlTranslationFilter</filter-class>
     <init-param>
         <param-name>filter-xml</param-name>
         <param-value>/WEB-INF/filters-liferay.xml</param-value>
     </init-param>
     <init-param>
         <param-name>update-check-interval</param-name>
         <param-value>0</param-value>
     </init-param>
  </filter>

  <filter>
     <filter-name>HtmlTranslationFilter-slashdot</filter-name>
     <filter-class>com.westerfeld.rewritehtml.HtmlTranslationFilter</filter-class>
     <init-param>
         <param-name>filter-xml</param-name>
         <param-value>/WEB-INF/filters-slashdot.xml</param-value>
     </init-param>
     <init-param>
         <param-name>update-check-interval</param-name>
         <param-value>0</param-value>
     </init-param>
  </filter>
  
  <filter>
     <filter-name>HtmlTranslationFilter-slashdot-dom</filter-name>
     <filter-class>com.westerfeld.rewritehtml.HtmlTranslationFilter</filter-class>
     <init-param>
         <param-name>filter-xml</param-name>
         <param-value>/WEB-INF/filters-slashdot-dom.xml</param-value>
     </init-param>
     <init-param>
         <param-name>update-check-interval</param-name>
         <param-value>0</param-value>
     </init-param>
  </filter>
  
  <filter-mapping>
     <filter-name>RemoteUserExpressionFilter</filter-name>
     <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>HtmlTranslationFilter-liferay</filter-name>
    <url-pattern>/rportal/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>HtmlTranslationFilter-liferay</filter-name>
    <url-pattern>/chat-portlet/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>HtmlTranslationFilter-liferay</filter-name>
    <url-pattern>/social-networking-portlet/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
     <filter-name>HtmlTranslationFilter-slashdot</filter-name>
     <url-pattern>/slash/*</url-pattern>
  </filter-mapping>

    <filter-mapping>
     <filter-name>HtmlTranslationFilter-slashdot-dom</filter-name>
     <url-pattern>/slash-dom/*</url-pattern>
  </filter-mapping>
  
  <!-- NOTE: the ProxyServlet is used to host access to a back-end application.  In this case, 
             we are proxying to a liferay instance, which has been setup to accept an
             http header for single-signon.
             
             The associated portal-ext.properties change to enable this feature is:
             
             	auto.login.hooks=com.liferay.portal.security.auth.RequestHeaderAutoLogin
             	
             This auto login module expects a header named LIFERAY_SCREEN_NAME, which we
             map to remote user name for the currently logged in application in the filter 
             configuration.  
   -->
  <servlet>
  	<servlet-name>ProxyServlet-liferay</servlet-name>
  	<servlet-class>org.mitre.dsmiley.httpproxy.ProxyServlet</servlet-class>
  	<init-param>
  		<param-name>targetUri</param-name>
  		<param-value>http://localhost:8080</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>ProxyServlet-slashdot</servlet-name>
    <servlet-class>org.mitre.dsmiley.httpproxy.ProxyServlet</servlet-class>
    <init-param>
      <param-name>targetUri</param-name>
      <param-value>http://slashdot.org</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>ProxyServlet-liferay</servlet-name>
    <url-pattern>/rportal/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProxyServlet-liferay</servlet-name>
    <url-pattern>/chat-portlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProxyServlet-liferay</servlet-name>
    <url-pattern>/social-networking-portlet/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ProxyServlet-slashdot</servlet-name>
    <url-pattern>/slash/*</url-pattern>
  </servlet-mapping>

    <servlet-mapping>
    <servlet-name>ProxyServlet-slashdot</servlet-name>
    <url-pattern>/slash-dom/*</url-pattern>
  </servlet-mapping>
  
</web-app>
